.chargement {
    color: rgba(255, 255, 255, 0.753);
    font-family:'Special Elite';
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 20px;
    font-style: oblique;
    margin-bottom: 30px;
  }
